{% layout 'blank' %}

{{ 'ravndrop.scss.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">

  <div class="row" id="join-row">
    <div class="col-xs-12">
      <h1 style="text-align: center;">Want to join the #VapeNaysh?<h1>
    </div>
  </div>

  <div class="row" id="ethan-box">
    {% comment %}
    <div id="ethan-pic-wrapper">
      <img src="https://cdn.shopify.com/s/files/1/1240/4006/files/Ethan_V1.png?4303912219549994206" id="ethan-pic">
    </div>
    {% endcomment %}
    
    <div class="row clothing-row">

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="row clothing-row">

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="row clothing-row">

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 clothing-col">
        <div class="hidden-details">
          <div class="item-detail-card">
            <img src="http://www.placehold.it/200x200/">
            <p>
              This is a description which would be in the item description card
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row" id="buy-row">
    <p>Buy this entire Vape Naysh outfit for $49.99</p>
    <button class="btn btn-primary">Buy now!</button>
  </div>

</div>
