{% layout 'blank' %}

<div class="container-fluid" id="vape-naysh-container">

  <div class="row" id="join-row">
    <div class="col-xs-12">
      <img src="https://cdn.shopify.com/s/files/1/1240/4006/files/Logo.png?14536239292133435584" id="naysh-logo">
      <h1>Want to join the #VapeNaysh?<h1>
      <h2>Order by October 9th to get it for Halloween!</h2>
    </div>
  </div>

  <div class="row" id="ethan-box">
    <div class="col-xs-12">
      <img class="img-responsive" id="vape-naysh-pic" src="https://cdn.shopify.com/s/files/1/1240/4006/files/vapenayshFinal.png?3458079455646506185">
    </div>
  </div>

  <div class="row" id="buy-row">
    <h2>Be #VapeNaysh for $49.99</h2>
    <p id="fupa-message">10% of proceeds go to <a href="http://morrisonlee.com/fupa/" target="_blank">F.U.P.A</a></p>
    <a class="btn btn-lg btn-vape" id="buy-one-button" href="https://www.ravndrop.com/cart/27077615617:1">I want one!</a>
    <a class="btn btn-lg btn-vape" id="buy-many-button" href="#">I want a s**t load!</a>
    <div id="how-many-div">
      <label id="how-many-label">How many?</label>
      <input id="how-many-input" type="number" min="1" value="2">
      <a class="btn" id="buy-many-submit" href="https://www.ravndrop.com/cart/27077615617:2">Go!</a>
    </div>
  </div>

  <div class="row" id="faq-row">
    <h2>FAQs</h2>
    <ul>

      <li>
        <question>
          When can I expect my Vape Naysh outfit?
        </question>
        <answer>
          We have a guaranteed delivery date of the 28th of October. We are going to do our best to get them out sooner.
        </answer>
      </li>

      <li>
        <question>
          What size outfit is this?
        </question>
        <answer>
          We've sized it to fit most big, beautiful, bold men so expect somewhere around a men's large with flexible material.
        </answer>
      </li>

      <li>
        <question>
          Will I look exactly like Ethan?
        </question>
        <answer>
          While no one can look exactly like Ethan (too sexy), you'll be pretty close. All accessories are our closest matches for style, comfort, and color.
        </answer>
      </li>

      <li>
        <question>
          Hey, I changed my mind, I don't want my costume anymore!
        </question>
        <answer>
          Unfortunately, because this is a mass buy and a super cheap costume, we are unable to cancel orders. If we are unable to get you your costume, you'll be awarded a full refund.
        </answer>
      </li>

      <li>
        <question>
          How much is shipping?
        </question>
        <answer>
          All of the items ship within the continental United States for $10 buckaroonis.
        </answer>
      </li>
    </ul>
  </div>

</div>


<script type="text/javascript">
  $('question').click(function() {
    $(this).siblings('answer').toggle();
  });

  $('#buy-many-button').click(function(event) {
    $('#how-many-div').css("display", "inline");
    $('#buy-many-button').hide();
    event.preventDefault();
  });

  $('#how-many-input').on('input', function() {
    var val = $(this).val();
    $('#buy-many-submit').attr('href', 'https://www.ravndrop.com/cart/27077615617:' + val);
  });
</script>





